In [24]:
#import pandas & natural language processing library
import pandas as pd
import nltk

In [25]:
#Importing two datasets from ONION news
Fnews=pd.read_csv('Fake.csv')
Tnews=pd.read_csv('True.csv')

In [26]:
#familiarity with both data sets, skipping feature engineering and pre processing
Fnews.head()
Tnews.head()
Fnews.info()
Tnews.info()
Fnews.describe()
Tnews.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

In [27]:
#set variablaes for both fake and new
Tnews['True/Fake']='True'
Fnews['True/Fake']='Fake'

In [28]:
#combine those fake/true news and shuffle it
news = pd.concat([Tnews, Fnews])
news["Article"] = news["title"] + news["text"]
news.sample(frac = 1) #Shuffle 100%

,title,text,subject,date,True/Fake,Article
9721,BRILLIANT! President Trump Offers Congress Har...,AP President Donald Trump has told congressio...,politics,"Oct 9, 2017",Fake,BRILLIANT! President Trump Offers Congress Har...
14170,Escape from North Korea: video shows defector ...,SEOUL (Reuters) - A North Korean border guard ...,worldnews,"November 22, 2017",True,Escape from North Korea: video shows defector ...
4077,"Trump to meet Australian PM, relations straine...",SYDNEY/WASHINGTON (Reuters)) - U.S. President ...,politicsNews,"April 25, 2017",True,"Trump to meet Australian PM, relations straine..."
4290,FBI got court order to monitor ex-Trump advise...,WASHINGTON (Reuters) - The FBI secured a court...,politicsNews,"April 12, 2017",True,FBI got court order to monitor ex-Trump advise...
11110,U.S. FIGHTER JETS SCRAMBLED: Russian Bombers C...,Show of force The Russian long-range TU-95 Be...,politics,"Apr 18, 2017",Fake,U.S. FIGHTER JETS SCRAMBLED: Russian Bombers C...
...,...,...,...,...,...,...
5130,Trump Just Got Punked HARD For His Acceptance...,"Trump s acceptance of a Purple Heart, and his ...",News,"August 8, 2016",Fake,Trump Just Got Punked HARD For His Acceptance...
21819,UNREAL! FORMER GITMO DETAINEES PROTEST AT U.S....,We should do NOTHING for these terrorists! The...,left-news,"Apr 26, 2015",Fake,UNREAL! FORMER GITMO DETAINEES PROTEST AT U.S....
21070,"Syrian army, allies 3 km from Deir al-Zor encl...",BEIRUT (Reuters) - The Syrian army and allied ...,worldnews,"September 4, 2017",True,"Syrian army, allies 3 km from Deir al-Zor encl..."
15880,POLITICAL HACK RIHANNA SINGS “We are the new A...,Corporate sponsors like Coke should think agai...,politics,"Apr 5, 2015",Fake,POLITICAL HACK RIHANNA SINGS “We are the new A...
24,White House: It Wasn’t Sexist For Trump To Sl...,A backlash ensued after Donald Trump launched ...,News,"December 12, 2017",Fake,White House: It Wasn’t Sexist For Trump To Sl...

In [29]:
# import stopwords to get rid of grammar words
#keep relevant strings
from nltk.corpus import stopwords
import string

In [30]:
#function to remove puncuation, stop words and return clean strings
def text_process(mess):
    """
    1. remove punc
    2.remove stop words
    3.return list of cleean text words
    """
    nopunc=[char for char in mess if char not in string.punctuation]
    nopunc=''.join(nopunc)
    return[word for word in nopunc.split() 
    if word.lower() not in stopwords.words('english')]

In [31]:
# check the new datasets TYPES
news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44898 entries, 0 to 23480
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      44898 non-null  object
 1   text       44898 non-null  object
 2   subject    44898 non-null  object
 3   date       44898 non-null  object
 4   True/Fake  44898 non-null  object
 5   Article    44898 non-null  object
dtypes: object(6)
memory usage: 2.4+ MB

In [32]:
# Now we know article column is where news is and we need tokenise the article so we can NLP
# Tokenising takes time as we have 44898 articles
news['Article'].head(5).apply(text_process)

0    [US, budget, fight, looms, Republicans, flip, ...
1    [US, military, accept, transgender, recruits, ...
2    [Senior, US, Republican, senator, Let, Mr, Mue...
3    [FBI, Russia, probe, helped, Australian, diplo...
4    [Trump, wants, Postal, Service, charge, much, ...
Name: Article, dtype: object

In [33]:
#fit text_process we created with article tokens
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
# bow means bag of words
bow_transformer= CountVectorizer(analyzer=text_process).fit(news['Article'])

In [ ]:
# sci kit transformer to calculate term frequency
from sklearn.feature_extraction.text import TfidfTransformer

In [ ]:
#import Naive BAYES FOR NLP
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [ ]:
# predict off test using data pipeline feature
from sklearn.pipeline import Pipeline

In [ ]:
# ([(tuples)])- fixed data
#takes in count vectoriser with text process function analyser
#text_process= strings that took in integer counts
#next, integer counts turnt into weighted values with tfidtransformer
#next, train it using Naives Bayes MultiNomial
# options you can change classifier like (RandomforestClassifer)
pipeline=Pipeline([('bow',CountVectorizer(analyzer=text_process)),
                    ('tfidf',TfidfTransformer()),
                    ('classifier', MultinomialNB())
                   ])

In [ ]:
#train data into train/test split
from sklearn.model_selection import train_test_split

In [ ]:
# my train data are tokenised atricles & predictions are wether the article is true or false
X = news['Article']
y = news['True/Fake']
# use 30% of data for testing and 70%  for training
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=101)

In [ ]:
# Takes time
# fit the news data into article train and true or fake train with pipeline method
pipeline.fit(X_train,y_train)

In [ ]:
# lets predict the articles using article test data set
predictions = pipeline.predict(X_test)

In [ ]:
# we have 97% accuracy and we misclassified 277/44898 articles
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

In [ ]:
# Next, I use Neural Networks for better accuracy. Heavy preprocessing required.